openapi: 3.0.0
info:
  title: Omgevingsdocumenten-Presenteren
  description: |-
    De Omgevingsdocumenten Presenteren API ontsluit beschikbaar gestelde omgevingsdocumenten op zo'n manier dat deze eenvoudig visueel te verbeelden zijn. Op de Ontwikkel, Test, Acceptatie en Pre-productieomgeving worden ook omgevingsdocumenten toegevoegd en verwijderd door beheerders voor testdoeleinden binnen en buiten de voorziening.<br/>
    <br/>
    De Omgevingsdocumenten Presenteren API volgt de standaarden zoals beschreven in de DSO API-strategie versie 1.1. Zo is het standaard mediatype HAL (`application/hal+json`). Dit is een mediatype voor het weergeven van resources en hun relaties via hyperlinks.
  version: 6.0.0
servers:
  - url: https://service.pre.omgevingswet.overheid.nl:443/publiek/omgevingsdocumenten/api/presenteren/v6
  - url: http://service.pre.omgevingswet.overheid.nl/publiek/omgevingsdocumenten/api/presenteren/v6
security:
  - default: []
tags:
  - name: Afbeeldingen
    description: Afbeeldingen uit omgevingsdocumenten.
  - name: Activiteiten
    description: Activiteiten bevat activiteit uitspraken die in omgevingsdocumenten staan.
  - name: Regelingen
    description: Regelingen en hun structuur.
  - name: Omgevingsvergunningen
    description: Omgevingsvergunningen en hun structuur.
  - name: Regelteksten
    description: Regelteksten bevatten JuridischeRegels die beschreven zijn in omgevingsdocumenten.
  - name: Divisies
    description: Divisies bevatten Tekstdelen die beschreven zijn in omgevingsvisies en projectbesluiten.
  - name: Divisieteksten
    description: Divisieteksten bevatten Tekstdelen die beschreven zijn in omgevingsvisies en projectbesluiten.
  - name: Kaarten
    description: Kaarten bevatten aparte visualisaties van informatie over CIMOW-objecten.
  - name: Gebiedsaanwijzingen
    description: Gebiedsaanwijzingen zijn gebieden waar een regel betrekking op heeft.
  - name: Omgevingsnormen
    description: Omgevingsnormen zoals beschreven in de omgevingswet.
  - name: Omgevingswaarden
    description: Omgevingswaarden zoals beschreven in de omgevingswet.
  - name: Meta
    description: Operaties die niet domeinspecifiek zijn, maar over de applicatie gaan.
paths:
  /activiteiten:
    get:
      tags:
        - Activiteiten
      summary: Alle activiteiten opvragen
      operationId: getActiviteiten
      parameters:
        - name: gerelateerdeActiviteitIdentificatie
          in: query
          description: Activiteiten ophalen die gerelateerd zijn aan deze activiteit
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.activiteit.2019000242example
        - name: regeltekstIdentificatie
          in: query
          description: Alleen juridische regels opvragen die opgenomen zijn in de gegeven regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000242example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Activiteiten'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /activiteiten/{identificatie}:
    get:
      tags:
        - Activiteiten
      summary: Een enkele activiteit opvragen
      operationId: getActiviteit
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.activiteit.2019000241example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Activiteit'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /activiteiten/_zoek:
    post:
      tags:
        - Activiteiten
      summary: Activiteiten opvragen die voldoen aan zoekobject-parameters
      operationId: zoekActiviteiten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteitZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Activiteiten'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /activiteitlocatieaanduidingen/_zoek:
    post:
      tags:
        - Activiteiten
      summary: ActiviteitLocatieaanduidingen opvragen die voldoen aan zoekobject-parameters
      operationId: zoekActiviteitLocatieaanduidingen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiviteitLocatieaanduidingZoekobject'
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ActiviteitLocatieaanduidingen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /activiteiten/{identificatie}/activiteitlocatieaanduidingen:
    get:
      tags:
        - Activiteiten
      summary: Activiteitlocatieaanduidingen opvragen bij een activiteit
      operationId: getActiviteitLocatieaanduidingen
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.activiteit.2019000241example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ActiviteitLocatieaanduidingen'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /activiteiten/{identificatie}/activiteitlocatieaanduidingen/{activiteitlocatieaanduidingidentificatie}:
    get:
      tags:
        - Activiteiten
      summary: Een enkele activiteitlocatieaanduiding opvragen
      operationId: getActiviteitLocatieaanduiding
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.activiteit.2019000241example
        - name: activiteitlocatieaanduidingidentificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.activiteitlocatieaanduiding.2019000241example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ActiviteitLocatieaanduiding'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ponsen/{identificatie}:
    get:
      tags:
        - Ponsen
      summary: Een enkele pons opvragen
      operationId: getPons
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.pons.2019000241example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Pons'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ponsen/_zoek:
    post:
      tags:
        - Ponsen
      summary: Ponsen opvragen die voldoen aan het geozoekgebied
      operationId: zoekPonsen
      parameters:
        - name: Content-Crs
          in: header
          description: Content-Crs
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: EPSG:28992
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: PonsZoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PonsZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Ponsen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelteksten:
    get:
      tags:
        - Regelteksten
      summary: Alle regelteksten opvragen, de regelteksten kunnen ook gesorteerd op workId opgeleverd worden (met sort=workId)
      operationId: getRegelteksten
      parameters:
        - name: gerelateerdeRegeltekstIdentificatie
          in: query
          description: Regelteksten ophalen die gerelateerd zijn aan deze regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000242example
        - name: omgevingsnormIdentificatie
          in: query
          description: Regelteksten ophalen die deze omgevingsnorm beschrijven
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.omgevingsnorm.2019000242example
        - name: omgevingswaardeIdentificatie
          in: query
          description: Regelteksten ophalen die deze omgevingswaarde beschrijven
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.omgevingswaarde.2019000242example
        - name: gebiedsaanwijzingIdentificatie
          in: query
          description: Regelteksten ophalen waar deze gebiedsaanwijzing in opgenomen is
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.bodem.2019000242example
        - name: activiteitIdentificatie
          in: query
          description: Regelteksten ophalen die deze activiteit beschrijven
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.activiteit.2019000242example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Regelteksten'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelteksten/{identificatie}:
    get:
      tags:
        - Regelteksten
      summary: Een enkele regeltekst opvragen
      operationId: getRegeltekst
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000001example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Regeltekst'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelteksten/_zoek:
    post:
      tags:
        - Regelteksten
      summary: Regelteksten opvragen die voldoen aan zoekobject-parameters, de regelteksten kunnen ook gesorteerd op workId opgeleverd worden (met sort=workId)
      operationId: zoekRegelteksten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegeltekstZoekobject'
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Regelteksten'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /kaarten:
    get:
      tags:
        - Kaarten
      summary: Alle kaarten opvragen
      operationId: getKaarten
      parameters:
        - name: regeltekstIdentificatie
          in: query
          description: Alleen kaarten opvragen die opgenomen zijn in de gegeven regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000242example
        - name: divisieIdentificatie
          in: query
          description: Alleen kaarten opvragen die opgenomen zijn in de gegeven divisie
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-pv26.divisie.2019000046example
        - name: divisietekstIdentificatie
          in: query
          description: Alleen kaarten opvragen die opgenomen zijn in de gegeven divisietekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-pv26.divisietekst.2019000046example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Kaarten'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /kaarten/{identificatie}:
    get:
      tags:
        - Kaarten
      summary: Een enkele kaart opvragen
      operationId: getKaart
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.kaart.2019000001example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Kaart'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /kaarten/_zoek:
    post:
      tags:
        - Kaarten
      summary: Kaarten opvragen die voldoen aan zoekobject-parameters
      operationId: zoekKaarten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KaartZoekobject'
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Kaarten'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpkaarten:
    get:
      tags:
        - OntwerpKaarten
      summary: Alle ontwerpkaarten opvragen
      operationId: getOntwerpKaarten
      parameters:
        - name: ontwerpRegeltekstTechnischId
          in: query
          description: Alleen kaarten opvragen die opgenomen zijn in de gegeven regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-pv26.regeltekst.2019000046example_akn_nl_bill_pv26_2020_exmaple
        - name: ontwerpDivisieTechnischId
          in: query
          description: Alleen kaarten opvragen die opgenomen zijn in de gegeven divisie
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-pv26.divisie.2019000046example_akn_nl_bill_pv26_2020_exmaple
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpKaarten'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpkaarten/{technischId}:
    get:
      tags:
        - OntwerpKaarten
      summary: Een enkele ontwerpkaart opvragen aan de hand van identificatie en ontwerpbesluitIdentificatie
      operationId: getOntwerpKaart
      parameters:
        - name: technischId
          in: path
          description: Een technische identificatie voor ontwerpobjecten, samengesteld uit de IMOW-identificatie en de ontwerpbesluitIdentificatie, die gebruikt kan worden als pad parameter en in zoekopdrachten.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-pv26.kaart.2019000046example_akn_nl_bill_pv26_2020_exmaple
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpKaart'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpkaarten/_zoek:
    post:
      tags:
        - OntwerpKaarten
      summary: OntwerpKaarten opvragen die voldoen aan zoekobject-parameters
      operationId: zoekOntwerpKaarten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KaartZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpKaarten'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /divisies:
    get:
      tags:
        - Divisies
      summary: Alle divisies opvragen, de divisies kunnen ook gesorteerd op workId opgeleverd worden (met sort=workId)
      operationId: getDivisies
      parameters:
        - name: gebiedsaanwijzingIdentificatie
          in: query
          description: Divisies waar deze gebiedsaanwijzing in opgenomen is
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-pv26.gebiedsaanwijzing.2019000025example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Divisies'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /divisies/{identificatie}:
    get:
      tags:
        - Divisies
      summary: Een enkele divisie opvragen
      operationId: getDivisie
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.divisie.2019000001example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Divisie'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /divisies/{identificatie}/hoofdlijnen:
    get:
      tags:
        - Divisies
      summary: Hoofdlijnen ophalen die deze divisie bevat
      operationId: getDivisieHoofdlijnen
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000001example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Hoofdlijnen'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /divisies/_zoek:
    post:
      tags:
        - Divisies
      summary: Divisies opvragen die voldoen aan zoekobject-parameters,de divisies kunnen ook gesorteerd op workId opgeleverd worden (met sort=workId)
      operationId: zoekDivisies
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DivisieZoekobject'
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Divisies'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /divisieteksten:
    get:
      tags:
        - Divisieteksten
      summary: Alle divisieteksten opvragen, de divisieteksten kunnen ook gesorteerd op workId opgeleverd worden (met sort=workId)
      operationId: getDivisieteksten
      parameters:
        - name: gebiedsaanwijzingIdentificatie
          in: query
          description: Divisieteksten waar deze gebiedsaanwijzing in opgenomen is
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-pv26.gebiedsaanwijzing.2019000025example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Divisieteksten'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /divisieteksten/{identificatie}:
    get:
      tags:
        - Divisieteksten
      summary: Een enkele divisietekst opvragen
      operationId: getDivisietekst
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.divisie.2019000001example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Divisietekst'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /divisieteksten/{identificatie}/hoofdlijnen:
    get:
      tags:
        - Divisieteksten
      summary: Hoofdlijnen ophalen die deze divisietekst bevat
      operationId: getDivisietekstenHoofdlijnen
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000001example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Hoofdlijnen'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /divisieteksten/_zoek:
    post:
      tags:
        - Divisieteksten
      summary: Divisieteksten opvragen die voldoen aan zoekobject-parameters, de divisieteksten kunnen ook gesorteerd op workId opgeleverd worden (met sort=workId)
      operationId: zoekDivisieteksten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DivisieZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Divisieteksten'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /hoofdlijnen:
    get:
      tags:
        - Divisies
      summary: Alle hoofdlijnen opvragen
      operationId: getHoofdlijnen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Hoofdlijnen'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /hoofdlijnen/{identificatie}:
    get:
      tags:
        - Divisies
      summary: Een enkele hoofdlijn opvragen
      operationId: getHoofdlijn
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.omgevingsnorm.201900002example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Hoofdlijn'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /hoofdlijnen/{identificatie}/gerelateerd:
    get:
      tags:
        - Divisies
      summary: Alle hoofdlijnen opvragen die gerelateerd zijn aan een hoofdlijn
      operationId: getHoofdlijnGerelateerd
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.omgevingsnorm.201900002example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Hoofdlijnen'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /hoofdlijnen/_zoek:
    post:
      tags:
        - Divisies
      summary: Alle hoofdlijnen opvragen die voldoen aan zoekobject-parameters
      operationId: zoekHoofdlijnen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoofdlijnZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Hoofdlijnen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingsnormen:
    get:
      tags:
        - Omgevingsnormen
      summary: Alle omgevingsnormen opvragen
      operationId: getOmgevingsnormen
      parameters:
        - name: regeltekstIdentificatie
          in: query
          description: Omgevingsnormen ophalen die beschreven worden in deze Regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000242example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingsnormen'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingsnormen/{identificatie}:
    get:
      tags:
        - Omgevingsnormen
      summary: Een enkele omgevingsnorm opvragen
      operationId: getOmgevingsnorm
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.omgevingsnorm.201900002example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingsnorm'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingsnormen/{identificatie}/normwaarden/{normwaardeIdentificatie}:
    get:
      tags:
        - Omgevingsnormen
      summary: Een enkele normwaarde opvragen behorend bij een omgevingsnorm opvragen
      operationId: getOmgevingsnormNormwaarde
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.omgevingsnorm.2019000241example
        - name: normwaardeIdentificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.normwaarde.2019000241example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Normwaarde'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingsnormen/_zoek:
    post:
      tags:
        - Omgevingsnormen
      summary: Omgevingsnormen opvragen die voldoen aan zoekobject-parameters
      operationId: zoekOmgevingsnormen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: OmgevingsnormZoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmgevingsnormZoekobject'
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingsnormen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingswaarden:
    get:
      tags:
        - Omgevingswaarden
      summary: Alle omgevingswaarden opvragen
      operationId: getOmgevingswaarden
      parameters:
        - name: regeltekstIdentificatie
          in: query
          description: Omgevingswaarden ophalen die beschreven worden in deze Regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000242example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingswaarden'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingswaarden/{identificatie}:
    get:
      tags:
        - Omgevingswaarden
      summary: Een enkele omgevingswaarde opvragen
      operationId: getOmgevingswaarde
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.omgevingswaarde.201900001example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingswaarde'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingswaarden/{identificatie}/normwaarden/{normwaardeIdentificatie}:
    get:
      tags:
        - Omgevingswaarden
      summary: Een enkele normwaarde opvragen behorend bij een omgevingswaarde opvragen
      operationId: getOmgevingswaardeNormwaarde
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.omgevingswaarde.2019000241example
        - name: normwaardeIdentificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.normwaarde.2019000241example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Normwaarde'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingswaarden/_zoek:
    post:
      tags:
        - Omgevingswaarden
      summary: Omgevingswaarden opvragen die voldoen aan zoekobject-parameters
      operationId: zoekOmgevingswaarden
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: OmgevingswaardeZoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmgevingswaardeZoekobject'
        required: true
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/X-Total-Count'
            X-Pagination-Count:
              $ref: '#/components/headers/X-Pagination-Count'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingswaarden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /gebiedsaanwijzingen:
    get:
      tags:
        - Gebiedsaanwijzingen
      summary: Alle gebiedsaanwijzingen opvragen
      operationId: getGebiedsaanwijzingen
      parameters:
        - name: regeltekstIdentificatie
          in: query
          description: Alleen gebiedsaanwijzingen opvragen die opgenomen zijn in de gegeven regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000242example
        - name: divisieIdentificatie
          in: query
          description: Alleen gebiedsaanwijzingen opvragen die opgenomen zijn in de gegeven divisie
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-pv26.divisie.2019000046example
        - name: divisietekstIdentificatie
          in: query
          description: Alleen gebiedsaanwijzingen opvragen die opgenomen zijn in de gegeven divisietekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-pv26.divisietekst.2019000046example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Gebiedsaanwijzingen'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /gebiedsaanwijzingen/{identificatie}:
    get:
      tags:
        - Gebiedsaanwijzingen
      summary: Een enkele gebiedsaanwijzing opvragen
      operationId: getGebiedsaanwijzing
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-pv26.gebiedsaanwijzing.2019000025example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Gebiedsaanwijzing'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /gebiedsaanwijzingen/_zoek:
    post:
      tags:
        - Gebiedsaanwijzingen
      summary: Gebiedsaanwijzingen opvragen die voldoen aan zoekobject-parameters
      operationId: zoekGebiedsaanwijzingen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GebiedsaanwijzingZoekobject'
            examples:
              zoekobjectWaterschapsverordening:
                $ref: '#/components/examples/zoekobjectWaterschapsverordening'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Gebiedsaanwijzingen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpgebiedsaanwijzingen:
    get:
      tags:
        - OntwerpGebiedsaanwijzingen
      summary: Alle ontwerpgebiedsaanwijzingen opvragen
      operationId: getOntwerpGebiedsaanwijzingen
      parameters:
        - name: ontwerpRegeltekstTechnischId
          in: query
          description: Alleen ontwerpgebiedsaanwijzingen opvragen die opgenomen zijn in de gegeven ontwerpregeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl_imow_gm0037_ontwerpregeltekst_2019000242example_akn_nl_bill_pv26_2020_exmaple
        - name: ontwerpDivisieTechnischId
          in: query
          description: Alleen ontwerpgebiedsaanwijzingen opvragen die opgenomen zijn in de gegeven ontwerpdivisie
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl_imow_pv26_ontwerpdivisie_2019000046example_akn_nl_bill_pv26_2020_exmaple
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpGebiedsaanwijzingen'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpgebiedsaanwijzingen/{technischId}:
    get:
      tags:
        - OntwerpGebiedsaanwijzingen
      summary: Een enkele gebiedsaanwijzing opvragen
      operationId: getOntwerpGebiedsaanwijzing
      parameters:
        - name: technischId
          in: path
          description: Een technische identificatie voor ontwerp objecten, samengesteld uit de IMOW-identificatie en de ontwerpbesluitIdentificatie, die gebruikt kan worden als pad parameter en in zoekopdrachten.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-pv26.gebiedsaanwijzing.example_akn_nl_bill_pv26_2020_exmaple
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpGebiedsaanwijzing'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpgebiedsaanwijzingen/_zoek:
    post:
      tags:
        - OntwerpGebiedsaanwijzingen
      summary: OntwerpGebiedsaanwijzingen opvragen die voldoen aan zoekobject-parameters
      operationId: zoekOntwerpGebiedsaanwijzingen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OntwerpGebiedsaanwijzingZoekobject'
            examples:
              zoekobjectWaterschapsverordening:
                $ref: '#/components/examples/zoekobjectWaterschapsverordening'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpGebiedsaanwijzingen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelingen:
    get:
      tags:
        - Regelingen
      summary: Alle regelingen opvragen
      operationId: getRegelingen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Regelingen'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelingen/{identificatie}:
    get:
      tags:
        - Regelingen
      summary: Een enkel regeling opvragen.
      operationId: getRegeling
      parameters:
        - name: identificatie
          in: path
          description: 'De pad parameter ''identificatie'' is een ge-escapete versie van het document-id. De escaping gebeurt met de volgende regex: [^\w]+ wordt vervangen door _'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Regeling'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelingen/findById:
    get:
      tags:
        - Regelingen
      summary: Een enkel regeling opvragen.
      operationId: getRegelingFindById
      parameters:
        - name: identificatie
          in: query
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: /akn/nl/act/gm0037/2019/3520-example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Regeling'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelingen/{identificatie}/documentcomponenten:
    get:
      tags:
        - Regelingen
      summary: Alle root documentcomponenten van een regeling opvragen
      operationId: getRegelingComponenten
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DocumentComponenten'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelingen/{identificatie}/documentcomponenten/{componentIdentificatie}:
    get:
      tags:
        - Regelingen
      summary: Een documentcomponent opvragen
      operationId: getRegelingDocumentComponent
      parameters:
        - name: identificatie
          in: path
          description: 'De pad parameter ''identificatie'' is een ge-escapete versie van het document-id. De escaping gebeurt met de volgende regex: [^\w]+ wordt vervangen door _'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example
        - name: componentIdentificatie
          in: path
          description: De identificatie van het DocumentComponent
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.documentcomponent.2019000001example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DocumentComponent'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelingen/{identificatie}/themas:
    get:
      tags:
        - Regelingen
      summary: Themas opvragen
      operationId: getThemas
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Themas'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelingen/regels/_zoek:
    post:
      tags:
        - Regelingen
      summary: Regelingen (regeltekstdocumenten) opvragen die voldoen aan zoekobject-parameters
      operationId: zoekRegelsDocumenten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentregeltekstZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Regelingen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /regelingen/tekstdelen/_zoek:
    post:
      tags:
        - Regelingen
      summary: Regelingen met tekstdelen opvragen die voldoen aan zoekobject-parameters
      operationId: zoekTekstdelenDocumenten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentvrijetekstZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Regelingen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingsvergunningen:
    get:
      tags:
        - Omgevingsvergunningen
      summary: Alle omgevingsvergunningen opvragen
      operationId: getOmgevingsvergunningen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingsvergunningen'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingsvergunningen/{identificatie}:
    get:
      tags:
        - Omgevingsvergunningen
      summary: Een enkele omgevingsvergunning opvragen
      description: 'De pad parameter ''identificatie'' is een ge-escapete versie van het document-id. De escaping gebeurt met de volgende regex: [^\w]+ wordt vervangen door _'
      operationId: getOmgevingsvergunning
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingsvergunning'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /omgevingsvergunningen/_zoek:
    post:
      tags:
        - Omgevingsvergunningen
      summary: Omgevingsvergunningen opvragen die voldoen aan zoekobject-parameters
      operationId: zoekOmgevingsvergunningen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmgevingsvergunningZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Omgevingsvergunningen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /locaties:
    get:
      tags:
        - Locaties
      summary: Alle locaties opvragen
      operationId: getLocaties
      parameters:
        - name: activiteitIdentificatie
          in: query
          description: Alleen locaties opvragen die gereguleerd zijn voor de gegeven activiteit
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.activiteit.2019000242example
        - name: juridischeRegelIdentificatie
          in: query
          description: Alleen locaties opvragen die gereguleerd zijn voor de gegeven activiteit
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.juridischeregel.2019000242example
        - name: activiteitlocatieaanduidingIdentificatie
          in: query
          description: Alleen locaties opvragen die kwalificeert voor de gegeven activiteitlocatieaanduiding. JuridischeRegelIdentificatie moet ook ingevuld zijn.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.activiteitlocatieaanduiding.2019000242example
        - name: tekstdeelIdentificatie
          in: query
          description: Alleen locaties opvragen die gedefinieerd zijn voor dit tekstdeel
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.tekstdeel.2019000242example
        - name: regeltekstIdentificatie
          in: query
          description: Alleen locaties opvragen die gelden als werkingsgebied voor de gegeven regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.regeltekst.2019000242example
        - name: divisieIdentificatie
          in: query
          description: Alleen locaties opvragen die gelden als werkingsgebied voor de gegeven divisie
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.divisie.2019000242example
        - name: divisietekstIdentificatie
          in: query
          description: Alleen locaties opvragen die gelden als werkingsgebied voor de gegeven divisieTekst
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.divisieTekst.2019000242example
        - name: gebiedsaanwijzingIdentificatie
          in: query
          description: Alleen locaties opvragen die gelden als werkingsgebied voor de gegeven gebiedsaanwijzing
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.gebiedsaanwijzing.2019000242example
        - name: omgevingsnormIdentificatie
          in: query
          description: Alleen locaties opvragen die gelden voor een normwaarde in combinatie met de gegeven omgevingsnorm.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.omgevingsnorm.2019000242example
        - name: omgevingswaardeIdentificatie
          in: query
          description: Alleen locaties opvragen die gelden voor een normwaarde in combinatie met de gegeven omgevingswaarde.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.omgevingswaarde.2019000242example
        - name: normwaardeIdentificatie
          in: query
          description: Alleen locaties opvragen die gelden voor de gegeven normwaarde. omgevingsnormIdentificatie of omgevingswaardeIdentificatie moet ook ingevuld zijn.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.normwaarde.2019000242example
        - name: ontwerpGebiedsaanwijzingTechnischId
          in: query
          description: Alleen locaties opvragen die gelden als werkingsgebied voor de gegeven ontwerpgebiedsaanwijzing
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl_imow_gm0037_gebiedsaanwijzing_2019000242example_akn_nl_bill_pv26_2020_example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: Locaties
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Locaties'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /locaties/{identificatie}:
    get:
      tags:
        - Locaties
      summary: Een bepaalde locatie met de bounding box van de bijbehorende geometrie ophalen
      operationId: getLocatieBoundingBox
      parameters:
        - name: identificatie
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.locatie.2019000242example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LocatieWithBoundingBox'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /locatieidentificaties/_zoek:
    post:
      tags:
        - Locaties
      summary: Alle locatieIdentificaties opvragen die voldoen aan de geo in het zoekobject en controleren of het zoekgebied binnen pons valt
      operationId: zoekLocaties
      parameters:
        - $ref: '#/components/parameters/ContentCrsHeader'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocatieZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/LocatieZoekgebieden'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /afbeeldingen/{bevoegdGezag}/{toestandIdentificatie}/{naam}:
    get:
      tags:
        - Regelingen
        - Afbeeldingen
      summary: Een afbeelding uit een document opvragen
      operationId: getDocumentAfbeelding
      parameters:
        - name: bevoegdGezag
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: pv26
        - name: toestandIdentificatie
          in: path
          description: 'De pad parameter ''toestandIdentificatie'' is een ge-escapete versie van de toestandIdentificatie. De escaping gebeurt met de volgende regex: [^\w]+ wordt vervangen door _'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example_nld_2019_06_25_1
        - name: naam
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: afbeelding.png
      responses:
        '200':
          description: OK
          content:
            image/*:
              schema:
                $ref: '#/components/schemas/Afbeelding'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
  /ontwerpregelingen:
    get:
      tags:
        - OntwerpRegelingen
      summary: Alle ontwerp regelingen opvragen
      operationId: getOntwerpRegelingen
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpRegelingen'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpregelingen/{technischId}:
    get:
      tags:
        - OntwerpRegelingen
      summary: Een enkel van ontwerp regeling opvragen.
      operationId: getOntwerpRegeling
      parameters:
        - name: technischId
          in: path
          description: Een technische identificatie voor ontwerpobjecten, samengesteld uit de IMOW-identificatie en de ontwerpbesluitIdentificatie, die gebruikt kan worden als pad parameter en in zoekopdrachten.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_ontwerp_example_akn_nl_act_gm0037_2019_3520_ontwerp_exampl
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpRegeling'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpregelingen/{identificatie}/ontwerpdocumentcomponenten:
    get:
      tags:
        - OntwerpRegelingen
      summary: Alle root ontwerp documentcomponenten van een ontwerp regeling opvragen
      operationId: getOntwerpRegelingComponenten
      parameters:
        - name: identificatie
          in: path
          description: 'De pad parameter ''identificatie'' is een ge-escapete versie van het document-id. De escaping gebeurt met de volgende regex: [^\w]+ wordt vervangen door _'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpDocumentComponenten'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpregelingen/{identificatie}/ontwerpdocumentcomponenten/{componentIdentificatie}:
    get:
      tags:
        - OntwerpRegelingen
      summary: Een ontwerp van documentcomponent opvragen
      operationId: getOntwerpRegelingComponent
      parameters:
        - name: identificatie
          in: path
          description: 'De pad parameter ''identificatie'' is een ge-escapete versie van het document-id. De escaping gebeurt met de volgende regex: [^\w]+ wordt vervangen door _'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example
        - name: componentIdentificatie
          in: path
          description: De identificatie van het ontwerp DocumentComponent
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-gm0037.documentcomponent.2019000001example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpDocumentComponent'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpregelingen/{identificatie}/themas:
    get:
      tags:
        - OntwerpRegelingen
      summary: Themas opvragen
      operationId: getOntwerpRegelingThemas
      parameters:
        - name: identificatie
          in: path
          description: 'De pad parameter ''identificatie'' is een ge-escapete versie van het document-id. De escaping gebeurt met de volgende regex: [^\w]+ wordt vervangen door _'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Themas'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpregelingen/regels/_zoek:
    post:
      tags:
        - OntwerpRegelingen
      summary: Ontwerp Omgevingsdocumenten (regeltekstdocumenten) opvragen die voldoen aan zoekobject-parameters
      operationId: zoekOntwerpRegelsDocumenten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OntwerpDocumentregeltekstZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpRegelingen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpregelingen/tekstdelen/_zoek:
    post:
      tags:
        - OntwerpRegelingen
      summary: Ontwerp Omgevingsdocumenten met tekstdelen opvragen die voldoen aan zoekobject-parameters
      operationId: zoekOntwerpTekstdelenDocumenten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentvrijetekstZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpRegelingen'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpafbeeldingen/{bevoegdGezag}/{ontwerpbesluitIdentificatie}/{naam}:
    get:
      tags:
        - OntwerpRegelingen
        - Afbeeldingen
      summary: Een afbeelding uit een ontwerp document opvragen
      operationId: getOntwerpDocumentAfbeelding
      parameters:
        - name: bevoegdGezag
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: pv26
        - name: ontwerpbesluitIdentificatie
          in: path
          description: 'De pad parameter ''ontwerpbesluitIdentificatie'' is een ge-escapete versie van de proefversieIdentificatie. De escaping gebeurt met de volgende regex: [^\w]+ wordt vervangen door _'
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_example_nld_2019_06_25_1
        - name: naam
          in: path
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: afbeelding.png
      responses:
        '200':
          description: OK
          content:
            image/*:
              schema:
                $ref: '#/components/schemas/Afbeelding'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
  /ontwerpregelteksten:
    get:
      tags:
        - OntwerpRegelteksten
      summary: Alle regelteksten opvragen, de regelteksten kunnen ook gesorteerd op workId opgeleverd worden (met sort=workId)
      operationId: getOntwerpRegelteksten
      parameters:
        - name: gerelateerdeRegeltekstTechnischId
          in: query
          description: Regelteksten ophalen die gerelateerd zijn aan deze regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000242example
        - name: ontwerpActiviteitTechnischId
          in: query
          description: Regelteksten ophalen die deze activiteit beschrijven
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.activiteit.2019000242example
        - name: ontwerpOmgevingsnormTechnischId
          in: query
          description: Regelteksten ophalen die deze omgevingsnorm beschrijven
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.omgevingsnorm.2019000242example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpRegelteksten'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpregelteksten/{technischId}:
    get:
      tags:
        - OntwerpRegelteksten
      summary: Een enkele van ontwerp regeltekst opvragen
      operationId: getOntwerpRegeltekst
      parameters:
        - name: technischId
          in: path
          description: Een technische identificatie voor ontwerp objecten, samengesteld uit de IMOW-identificatie en de ontwerpbesluitIdentificatie, die gebruikt kan worden als pad parameter en in zoekopdrachten.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: nl.imow-pv26.regeltekst.exmaple_akn_nl_bill_pv26_2020_exmaple
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpRegeltekst'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerpregelteksten/_zoek:
    post:
      tags:
        - OntwerpRegelteksten
      summary: OntwerpRegelteksten opvragen die voldoen aan zoekobject-parameters, de regelteksten kunnen ook gesorteerd op workId opgeleverd worden (met sort=workId)
      operationId: zoekOntwerpRegelteksten
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      requestBody:
        description: Zoekobject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OntwerpRegeltekstZoekobject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpRegelteksten'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerplocaties:
    get:
      tags:
        - OntwerpLocaties
      summary: Alle ontwerp locaties opvragen
      operationId: getOntwerpLocaties
      parameters:
        - name: ontwerpregeltekstTechnischId
          in: query
          description: Alleen ontwerp locaties opvragen die gereguleerd zijn voor de gegeven ontwerp regeltekst
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: nl.imow-gm0037.regeltekst.2019000242example_akn_nl_act_gm0037_2019_3520_ontwerp_example
        - name: ontwerpActiviteitTechnischId
          in: query
          description: Alleen locaties opvragen die gereguleerd zijn voor de gegeven activiteit
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: nl.imow-gm0037.activiteit.2019000242example
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpLocaties'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerplocaties/{technischId}:
    get:
      tags:
        - OntwerpLocaties
      summary: Een ontwerp locatie ophalen aan de hand van identificatie en ontwerpbesluitIdentificatie
      operationId: getOntwerpLocatieBoundingBox
      parameters:
        - name: technischId
          in: path
          description: Een technische identificatie voor ontwerpobjecten, samengesteld uit de IMOW-identificatie en de ontwerpbesluitIdentificatie, die gebruikt kan worden als pad parameter en in zoekopdrachten.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: _akn_nl_act_gm0037_2019_3520_ontwerp_example_akn_nl_act_gm0037_2019_3520_ontwerp_exampl
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/OntwerpLocatieWithBoundingBox'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          description: Onverwacht probleem
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - default: []
      x-auth-type: null
      x-throttling-tier: Unlimited
  /ontwerplocaties/_zoek:
    post:
      tags:
        - OntwerpLocaties
      summary: Alle ontwerp locaties opvragen die voldoen aan de geo in het zoekobject
      operationId: zoekOntwerpLocatiesZoekgebied
      parameters:
[...]
